body{

  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(img/national-cinema-day-the-magic-of-silver-screen-and-good-storyline-endures-in-india.webp);
  background-size: cover;
  background-position: center;
  background-attachment:fixed;
  position: absolute;
  box-sizing: border-box;
  font-family:sans-serif;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navbar{
  width: 100%;
  margin: auto;
  padding: 5px 0;
  display: flex;
  align-items: center;
  justify-self: space-between;
}

.logo{

  width: 120px;
  cursor: pointer;
}

.navbar ul li{
  list-style: none;
  display: inline-block;
  margin: 0 20px ;
  position: relative;
}

.navbar ul li a{
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}

.navbar ul li::after{
  content: '';
  height: 3px;
  width: 0%;
  background: blue;
  position: absolute;
  left: 0;
  bottom: 0px;
  transition: 0.5s;
}

.navbar ul li:hover::after{
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0px;
}



@media screen and (max-width: 600px) {
  .topnav a, .topnav input[type=text] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
}

.container {
  background-color: transparent;
  min-height: calc(100vh - 50px);
  color: white;
}

.content-container {
  margin-left: 50px;
  margin-right: 50px;
  padding-top: 50px;
}

.featured-content {
  height: 70vh;
  padding: 50px;
}

.featured-title {
  width: 200px;
}

.featured-desc {
  width: 500px;
  color: lightgray;
  margin: 30px 0;
}

.featured-button {
  background-color: blue;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  outline: none;
  font-weight: bold;
  cursor: pointer;
}

.movie-list-container {
  padding: 0 20px;
}

.movie-list-wrapper {
  position: relative;
  overflow-x: auto;
}

.movie-list-wrapper::-webkit-scrollbar{
  width: 0;
}

.movie-list-wrapper .item{
  margin-right: 2px;
}

.movie-list {
  display: flex;
  align-items: center;
  height: 300px;
  transform: translateX(0);
  transition: all 1s ease-in-out;
}

.movie-list-item {
  margin-right: 30px;
  position: relative;
}

.movie-list-item:hover .movie-list-item-img {
  transform: scale(1.2);
  margin: 0 30px;
  opacity: 0.5;
}

.movie-list-item:hover .movie-list-item-title,
.movie-list-item:hover .movie-list-item-desc,
.movie-list-item:hover .movie-list-item-button {
  opacity: 1;
}

.movie-list-item-img {
  transition: all 1s ease-in-out;
  width: 270px;
  height: 200px;
  object-fit: cover;
  border-radius: 20px;
}

.movie-list-item-title {
  background-color: transparent;
  padding: 0 10px;
  font-size: 25px;
  font-weight: bold;
  position: absolute;
  top: 10%;
  left: 50px;
  opacity: 0;
  transition: 1s all ease-in-out;
}

.movie-list-item-desc {
  background-color: transparent;
  padding: 10px;
  font-size: 14px;
  position: absolute;
  top: 30%;
  left: 50px;
  width: 230px;
  opacity: 0;
  transition: 1s all ease-in-out;
}

.movie-list-item-button {
  padding: 10px;
  background-color: blue;
  color: white;
  border-radius: 10px;
  outline: none;
  border: none;
  cursor: pointer;
  position: absolute;
  bottom: 20px;
  left: 50px;
  opacity: 0;
  transition: 1s all ease-in-out;
}

.searchB{
  width: 100%;
  min-height: 100%;
  padding: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchbar{
  width: 100%;
  max-width: 700px;
  background: rgba(255,255,255,0.2);
  display: flex;
  align-items: center;
  border-radius: 60px;
  padding: 10px 20px;
}

.searchbar input{
  background: transparent;
  flex: 1;
  border: 0;
  outline: none;
  padding: 24px 20px;
  font-size: 20px;
  color:#cac7ff;
}

::placeholder{
  color: #cac7ff;
}


.bsmall{
  width: 25px;
  border: 0;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background: #58629b;
  cursor: pointer;
}